:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://wallpapercave.com/wp/wp5348839.png);
  background-color: #d9d9d9;
  box-shadow: 10px 10px 10px 10px white inset;
}

body {
  background-color: Snow;
  background-image: none;
  text-align: justify;
  line-height: 30px;
}

h1 {
  color: whitesmoke;
  text-align: left;
  font-family: Raleway;
  margin-left: 30px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.author {
  color: whitesmoke;
  text-align: left;
  font-family: Raleway;
  padding-left: 10px;
  margin-left: 30px;
}

.text {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  font-family: Raleway;
}

.mindfuck {
  color: blueviolet;
}
